@use "styles/_var.module.scss" as *;

.yandex_delivery {
    font-size: 1.3rem;
    padding: 0.6rem 0.5rem;
    font-weight: 700;
    color: #231f20;
    transition: all 0.2s linear;
    border-radius: 1rem;
}

.yandex_food {
    &::before {
        background: url("/assets/icons/navbar/deliveryInfo/yandex-delivery.png");
        transform: translate(-2.5rem, -0.1rem);
        width: 18px;
        height: 20px;
    }
}

.rating {
    &::before {
        background: url("/assets/icons/navbar/deliveryInfo/red-ellipse.png");
        transform: translate(-1.1rem, -0.2rem);
        width: 4px;
        height: 20px;
    }

    &::after {
        background: url("/assets/icons/navbar/deliveryInfo/star.png");
        position: absolute;
        transform: translate(0.5rem, -0.2rem);
        width: 14px;
        height: 20px;
        content: "";
    }
}